@import "./variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;
}
button{
  border: none;
  background: none;
}
body{
  background-color: var(--app-background-color);
  font-family: var(--font-family-app);
  overflow-x: hidden;
}
h1{
  font-size: 65px;
}
h2{
  font-size: 38px;
}
h3{
  font-size: 27px;
}
img{
  width: 100%;
  height: 100%;
}